
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 13% 95%;
    --foreground: 160 15% 5%;
    --card: 150 13% 95%;
    --card-foreground: 160 15% 5%;
    --popover: 150 13% 95%;
    --popover-foreground: 160 15% 5%;
    --primary: 162 93% 25%;
    --primary-foreground: 150 13% 95%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 150 13% 95%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 160 15% 5%;
    --accent: 38 92% 50%;
    --accent-foreground: 160 15% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 150 13% 95%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 32.6% 17.5%;
    --radius: 1rem;
  }

  .dark {
    --background: 160 15% 5%;
    --foreground: 150 13% 95%;
    --card: 160 15% 5%;
    --card-foreground: 150 13% 95%;
    --popover: 160 15% 5%;
    --popover-foreground: 150 13% 95%;
    --primary: 162 93% 25%;
    --primary-foreground: 150 13% 95%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 150 13% 95%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 150 13% 95%;
    --accent: 38 92% 50%;
    --accent-foreground: 160 15% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 150 13% 95%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.2 32.6% 17.5%;
    --radius: 1rem;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, hsl(var(--primary) / 0.05) 20px),
      repeating-linear-gradient(hsl(var(--primary) / 0.05), hsl(var(--primary) / 0.05));
  }
  .shadow-effect {
    background-image: linear-gradient(to top, hsl(var(--primary)), hsl(var(--accent)));
    filter: blur(100px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    z-index: -1;
    opacity: 0.2;
  }
  .card {
    @apply shadow-lg;
  }
}

